$code-bg-color: #2D3033;
$code-font-family: 'Inconsolata', monospace;
$code-active: #489DFF;
$code-text: #FFFFFF;
$code-width: 25%;
$code-min-width: 320px;
$code-active-bg: #0076FF;
$code-menu-text: #000000;

$chart-bg-color: #FFFFFF;

$text-size: 15px;
$lines-margin: 10px;