@import "../variables.css";

.code {
  padding: 30px 20px;

  pre {
    line-height: calc($text-size + $lines-margin);
    white-space: pre;
  }

  a {
    color: $code-active;
    //display: inline-block;
  }
}