@import "../variables.css";

.chart {
  padding: 30px 20px;

  .container {
    height: 100%;
  }

  .error {
    font: normal 15px $code-font-family;
    background-color: rgb(255, 96, 82);
    color: #fff;
    padding: 1em;
    display: none;

    &.show {
      display: block;
    }
  }

}
