@import "../variables.css";

.code {
  .menu {
    position: absolute;
    line-height: 1.2;
    background: color($code-text a(95%));
    padding: 10px 0;
    margin: 3.7ex 0 0 -1em;
    max-height: 400px;
    overflow-y: scroll;
    min-width: 150px;
    box-shadow: 0 1px 5px 1px color($code-bg-color a(20%));
    color: $code-menu-text;
    z-index: 10;

    & input {
      color: #000;
      margin: 0.8ex 0 0.8ex 2em;
      &:focus {
        outline: 0
      }
    }
    & textarea {
      font: normal 15px 'Inconsolata', monospace;
      border: none;
      background-color: transparent;
      width: 100%;
      color: $code-menu-text;
      margin: 0.8ex 1em 0.8ex 2em;
      resize: none;
      &:focus {
        outline: 0
      }
    }

    & a {
      color: $code-menu-text;
      padding: 0.8ex 2em;
      flex-grow: 1;
      flex-basis: auto;
      overflow: hidden;
      max-width: 400px;
      text-overflow: ellipsis;
      transition: 0.05s background-color ease-out;

      &:hover {
        transition: none;
      }

      &.add {
        padding: 0.4ex 0;
        flex-grow: 0;
        flex-basis: 12%;
        min-width: 38px;
        max-width: 38px;
        visibility: hidden;
      }

      &:not(:last-child) {
        padding-right: 0.5em;
      }
    }

    & li {
      margin: 0;
      padding: 0;
      cursor: pointer;
      display: flex;
      align-content: stretch;
      transition: 0.05s background-color ease-out;

      &.sep {
        border-top: 1px solid color($code-bg-color a(10%));
        margin-top: 0.8ex;
        padding-top: 0.8ex;
        &:hover {
          background-color: transparent;
          & a:hover {
            background-color: color($code-active a(20%));
          }
        }
      }

      &:hover {
        background-color: color($code-active a(10%));
        transition: none;
      }

      &:hover a:hover {
        background-color: color($code-active a(10%));
      }

      &:hover a.add {
        background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTUsMSBDNSwwLjQ0NzcxNTI1IDUuNDQ3NzE1MjUsMCA2LDAgQzYuNTUyMjg0NzUsMCA3LDAuNDQ3NzE1MjUgNywxIEw3LDUgTDExLDUgQzExLjU1MjI4NDcsNSAxMiw1LjQ0NzcxNTI1IDEyLDYgQzEyLDYuNTUyMjg0NzUgMTEuNTUyMjg0Nyw3IDExLDcgTDcsNyBMNywxMSBDNywxMS41NTIyODQ3IDYuNTUyMjg0NzUsMTIgNiwxMiBDNS40NDc3MTUyNSwxMiA1LDExLjU1MjI4NDcgNSwxMSBMNSw3IEwxLDcgQzAuNDQ3NzE1MjUsNyAzLjEzMDgyODkzZS0xNCw2LjU1MjI4NDc1IDAsNiBDLTMuMTMwODI4OTNlLTE0LDUuNDQ3NzE1MjUgMC40NDc3MTUyNSw1IDEsNSBMNSw1IEw1LDEgWiIgZmlsbD0iIzAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==') no-repeat center center;
        visibility: visible;

        &:hover {
          background-color: color($code-active a(10%));
        }
      }

      &.selected {
        background: transparent url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAsMTAgQzAsMTAuOSAxLjEsMTEuMyAxLjcsMTAuNyBMMTAuNywxLjcgQzExLjEsMS4zIDExLjEsMC43IDEwLjcsMC4zIEMxMC4zLC0wLjEgOS43LC0wLjEgOS4zLDAuMyBMMiw3LjUgTDIsNSBDMiw0LjQgMS41LDQgMSw0IEMwLjQ1LDQgMCw0LjQ1IDAsNSBMMCwxMCBaIiBmaWxsPSIjMDAwMDAwIj48L3BhdGg+PC9zdmc+') no-repeat 0.8em center;
        font-weight: bold;

        &:hover a:hover {
          background-color: color($code-active a(20%));
        }

        &:hover a.add {
          background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTUsMSBDNSwwLjQ0NzcxNTI1IDUuNDQ3NzE1MjUsMCA2LDAgQzYuNTUyMjg0NzUsMCA3LDAuNDQ3NzE1MjUgNywxIEw3LDUgTDExLDUgQzExLjU1MjI4NDcsNSAxMiw1LjQ0NzcxNTI1IDEyLDYgQzEyLDYuNTUyMjg0NzUgMTEuNTUyMjg0Nyw3IDExLDcgTDcsNyBMNywxMSBDNywxMS41NTIyODQ3IDYuNTUyMjg0NzUsMTIgNiwxMiBDNS40NDc3MTUyNSwxMiA1LDExLjU1MjI4NDcgNSwxMSBMNSw3IEwxLDcgQzAuNDQ3NzE1MjUsNyAzLjEzMDgyODkzZS0xNCw2LjU1MjI4NDc1IDAsNiBDLTMuMTMwODI4OTNlLTE0LDUuNDQ3NzE1MjUgMC40NDc3MTUyNSw1IDEsNSBMNSw1IEw1LDEgWiIgZmlsbD0iIzAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==') no-repeat center center;
          visibility: visible;
        }

        & a {
          max-width: 415px;
        }
      }
    }
  }

  .fullscreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    //background-color: color($code-bg-color a(40%))
  }
}