@import "../variables.css";

.ace_editor.taukai {
  font-family: $code-font-family;
  font-size: $text-size;
  line-height: calc($text-size + $lines-margin + 1px);
  border: none;
  background: transparent;
  color: $code-text;
  
  &.ace_focus{
    background-color: color($code-menu-text a(30%));
  }

  .ace_hidden-cursors .ace_cursor {
    color: color($code-text a(25%));
  }

  &:not(.ace_focus) .ace_line {
    span {
      opacity: 0.6;
    }
  }

  .ace_cursor {
    color: $code-active-bg
  }

  .ace_print-margin {
    width: 1px;
    background: #555651
  }

  .ace_marker-layer .ace_selection {
    background: color($code-active-bg a(20%));
  }

  &.ace_multiselect .ace_selection.ace_start {
    box-shadow: 0 0 3px 0px #272822;
  }

  .ace_marker-layer .ace_bracket {
    margin: -1px 0 0 -1px;
    border: 1px solid color($code-text a(20%))
  }

  .ace_marker-layer .ace_selected-word {
    border: 1px solid color($code-text a(20%));
    border-radius: 3px;
  }

  .ace_entity.ace_name.ace_tag,
  .ace_keyword,
  .ace_meta.ace_tag,
  .ace_storage {
    color: $code-text;
  }

  .ace_punctuation,
  .ace_punctuation.ace_tag {
    color: $code-text
  }

  .ace_constant.ace_character,
  .ace_constant.ace_language,
  .ace_constant.ace_numeric,
  .ace_constant.ace_other {
    color: $code-text-num;
  }

  .ace_support.ace_constant,
  .ace_support.ace_function {
    color: $code-text;
  }


  .ace_storage.ace_type,
  .ace_support.ace_class,
  .ace_support.ace_type {
    font-style: normal;
    color: $code-text;
  }

  .ace_entity.ace_name.ace_function,
  .ace_entity.ace_other,
  .ace_entity.ace_other.ace_attribute-name,
  .ace_variable {
    color: $code-text;
  }


  .ace_variable.ace_parameter,
  .ace_identifier {
    color: $code-text-var;
  }

  .ace_string {
    color: $code-text-str;
    //color: $code-active;
  }

  .ace_comment {
    color: color($code-text a(20%));
  }

  .ace_indent-guide {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWPQ0FD0ZXBzd/wPAAjVAoxeSgNeAAAAAElFTkSuQmCC) right repeat-y
  }
}