@import "../variables.css";

.disabled {
  opacity: 0.2
}

.selected {
  font-weight: bold
}

span.collapsed:after {
  content: '..'
}

.code a.collapsing {
  //color: $code-text;
  //border-bottom: 1px dotted rgba(255, 255, 255, 0.5)
}

pre {
  & span > a {
    display: inline-block;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    line-height: 1;
    position: relative;
    top: -0.7ex;
    z-index: 1;

    &:link {
      outline: 0 solid rgba(0, 0, 0, 0);
      transition: 0.05s background-color ease-out, 0.05s outline ease-out;
    }
    &:hover {
      background-color: color($code-active-bg a(20%));
      outline: 2px solid color($code-active-bg a(20%));
      transition: none;
    }
  }

  & .active > a {
    &:link {
      background-color: $code-active-bg;
      color: $code-text;
      outline: 5px solid $code-active-bg;
      transition: 0.05s background-color ease-out, 0.05s outline ease-out;
    }
    &:hover {
      transition: none;
    }
  }

  .number input {
    background-color: transparent;
    color: $code-active;
    font-size: $text-size;
    border: none;
    font-family: $code-font-family;
    padding: 2px 0.2em;
    margin-right: -0.2em;
    transition: 0.05s background-color ease-out, 0.05s outline ease-out;

    &:hover {
      background-color: color($code-active-bg a(20%));
      outline: 2px solid color($code-active-bg a(20%));
      transition: none;
    }

    &:focus {
      background-color: $code-active-bg;
      color: $code-text;
      outline: 5px solid $code-active-bg;
      transition: none;
    }
  }

  .string input {
    background-color: transparent;
    color: $code-active;
    font-size: $text-size;
    border: none;
    font-family: $code-font-family;
    padding: 2px 0 2px 0.2em;
    margin: 0 -0.1em 0 -0.2em;

    &:focus{
      outline: none;
      color: $code-text;
    }
  }
}