@import "../variables.css";

.disabled {
  opacity: 0.2
}

.selected {
  font-weight: bold
}

pre {
  & span > a {
    display: inline-block;
    max-width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    line-height: 1;
    position: relative;
    top: -0.7ex;
    z-index: 1;

    &:link {
      outline: 0 solid rgba(0, 0, 0, 0);
      transition: 0.05s background-color ease-out, 0.05s outline ease-out;
    }
    &:hover {
      background-color: color($code-active-bg a(20%));
      outline: 2px solid color($code-active-bg a(20%));
      transition: none;
    }
  }

  & .active > a {
    &:link {
      background-color: $code-active-bg;
      color: $code-text;
      outline: 5px solid $code-active-bg;
      transition: 0.05s background-color ease-out, 0.05s outline ease-out;
    }
    &:hover {
      transition: none;
    }
  }
}